/* Theme toggler css */
.toggle {
  background-color: transparent;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
  box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.1);
  line-height: 1;
}

.input-switch {
  display: none;
}

.icon {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  transition: transform 300ms;
}

.icon--moon {
  color: black;
}

.icon--sun {
  transform: scale(0);
  color: yellow;
}

#switch:checked + .icon--moon {
  transform: rotate(360deg) scale(0);
}

#switch:checked ~ .icon--sun {
  transform: scale(1) rotate(360deg);
}

/* Light Glassy Button */

.dark .light-glassy-btn {
  background-color: #c0c0c02e;
  padding: 6px 35px;
  color: #fff;
  font-weight: 600;
  border-top: 2px solid #c0c0c050;
  border-left: 2px solid #c0c0c050;
  border-radius: 100px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 10px 2px #000000c3;
}

.light .light-glassy-btn {
  background-color: #dbdbdb8a;
  padding: 6px 35px;
  color: #000;
  font-weight: 700;
  border-top: 2px solid #6e6e6e50;
  border-left: 2px solid #6e6e6e50;
  border-radius: 100px;
  backdrop-filter: blur(5px);
  box-shadow: 2px 2px 5px 2px #0000003a;
}

@media (max-width: 550px) {
  .light-glassy-btn {
    padding: 5px 25px !important;
    font-size: 14px;
  }
}
